<ul>
    <li class="dropdown1">
    <a href="javascript:void(0)" class="dropbtn">File</a>
    <div class="dropdown-content">
        <a href="#" (click)="insertRectangle()">New</a>
        <a href="#" (click)="downLoadImage()">Save</a>
        <a href="#" (click)="insertImage()">Print</a> 
    </div>
    </li>
    <li class="dropdown2">
    <a href="javascript:void(0)" class="dropbtn">Shapes</a>
    <div class="dropdown-content">
        <a href="#" (click)="insertRectangle()">Rectangle</a>
        <a href="#" (click)="insertTringle()">Triangle</a>
        <a href="#" (click)="insertOrganization()">Link 3</a>
    </div>
    </li>
</ul>
<br>
<canvas id="mycanvas" width="640" height="480"></canvas>

